{{#if shortURL}}
<div class="container d-flex flex-column align-items-center">
  <h3>Success! Please use this link:</h3>
  <a href="{{origin}}/{{shortURL}}">
    <button class="btn btn-link">{{origin}}/{{shortURL}}</button>
  </a>
  <button class="btn btn-outline-primary" onclick="copy()">Copy</button>
</div>
<script>
  function copy() {
    let copyText = document.getElementById('generatedURL')
    navigator.clipboard.writeText(copyText.innerText)
    alert("Copied the url: " + copyText.innerText)
  }
</script>
{{else}}
<form class="d-flex flex-column align-items-center" action="/" method="POST">
  <input class="form-control mb-4" type="url" name="url" placeholder="Input URL here" style="width:500px;" required>
  <button class="btn btn-outline-primary" style="width: 300px;" type="submit">Shorten</button>
</form>
{{/if}}